<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - 社区</title>
    <script src="/js/jquery-3.5.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/editor.md-master/css/editormd.min.css"/>


</head>
<body>
<div th:replace="~{navagation :: navagation}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${question}!=null?${question.getId()}:''">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" th:value="${question}!=null?${question.getTitle()}:''" class="form-control"
                           id="title" name="title" placeholder="问题标题">
                </div>

                <div class="form-group">
                    <label for="editor">问题描述，必填</label>
                    <div id="editor">
                        <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
                        <textarea style="display:none;" th:text="${question}!=null?${question.getDescription()}:''"
                                  name="description"></textarea>
                    </div>


                    <script src="/editor.md-master/editormd.min.js"></script>
                    <script type="text/javascript">
                        $(function () {
                            var editor = editormd("editor", {
                                // width: "100%",
                                height: "300",
                                watch:false,
                                imageUpload          : true,          // Enable/disable upload
                                imageFormats         : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL       : "/file/upload",
                                emoji:false,// Upload url
                                // markdown: "xxxx",     // dynamic set Markdown text
                                path: "/editor.md-master/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
                            });
                        });
                    </script>
                </div>

                <!--                <div class="form-group">-->
                <!--                    <label for="description">问题描述，必填</label>-->
                <!--                    <textarea rows="10" th:text="${question}!=null?${question.getDescription()}:''" name="description"-->
                <!--                              id="description" class="form-control"></textarea>-->
                <!--                </div>-->


                <div class="form-group">
                    <label for="tag">标签</label>
                    <input type="text" th:value="${question}!=null?${question.getTag()}:''" class="form-control"
                           id="tag" name="tag" placeholder="输入标签以，隔开" onclick="showSelectTag()" autocomplete="off">
                </div>


                <div id="select-tag" style="display: none">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="tags,tagsStat:${selectTags}"
                            th:class="${tagsStat.first?'active':''}"><a th:href="${'#'+tags.category}"
                                                                        aria-controls="home" role="tab"
                                                                        data-toggle="tab"
                                                                        th:text="${tags.category}">开发语言</a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" th:id="${category.category}"
                             th:class="${categoryStat.first?'active tab-pane':'tab-pane'}"
                             th:each="category,categoryStat:${selectTags}">
                                <span class="label label-info question-tag" th:each="selectTag:${category.tags}"><span
                                        class="glyphicon glyphicon-tag" th:data-tag="${selectTag}"
                                        th:text="${selectTag}" onclick="selectTag(this)">java</span></span>

                        </div>

                    </div>

                </div>

                <hr>

                <div style="margin-top: 15px"><span th:if="${msg}!=null" class="alert alert-danger" role="alert"
                                                    th:text="${msg}"></span></div>
                <button type="submit" class="btn btn-success btn-publish"
                        th:text="(${question}!=null?${question.getId()}:'') ==''?'发布':'修改' ">发布
                </button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            问题标题：请用精简的文字描述你的问题，不超过25字。<br>
            问题补充：详细补充你的问题并确保问题描述直观清晰，并提供一些相关的资料。<br>
            标签选择：选择一个或多个标签，用逗号隔开，每个标签不超过10个字。
        </div>
    </div>

</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>